[run]
omit =
        *stationverification/_version.py*
        *stationverification/__init__.py*
        *stationverification/nagios/**

        *stationverification/bin/__init__.py*
        *stationverification/bin/pushtonagios.py*
        *stationverification/bin/dailyverification.py*

        *stationverification/utilities/__init__.py*
        *stationverification/utilities/nagiosinterface.py*
        *stationverification/utilities/upload_results_to_s3.py*
        *stationverification/utilities/plot_clock_offset.py*
        *stationverification/utilities/plot_timing_quality.py*
        *stationverification/utilities/prepare_ispaq.py*